$color-white: #2c2f3c;
$color-corn:#699900;
$color-wood:#f2f3e7;
$color-orange:#14a0c7;
$color-brightGray:#21232e;
$color-white:#ffffff;
$color-silverHand:#c0c3ce;
$color-galliano:#669608;
$color-camelot:#2f5dd0;
$color-charade:#ffffff;
$backImg:'../img/m-h-day.jpg';
$mainFont:'Hind';
$otherFont:'Source Sans Pro';